.ride-menu {
  position: relative;
  height: 100%;

  .user-type {
    display: flex;
    justify-content: space-around;
    height: 80px;
    position: inherit;
    top: 15px;
    right: 0;
    left: 0;
    margin: 0 15px;
    padding: 0 20px;
    box-shadow: 0 0 1px 1px #999999;
    border-radius: 2px;
    background: white;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .profile-img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
      }

      .profile-text {
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }

  .steps-ride {
    display: flex;
    margin: 30px 15px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;

    .step {
      display: flex;
      align-items: flex-end;
      outline: none;

      .step-number {
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid;
        border-radius: 100%;
        color: #999999;
        cursor: pointer;

        &.active {
          color: #bfdebf;
        }

        &.disable {
          cursor: no-drop;
        }
      }

      .step-label {
        font-size: 12px;
        width: 200px;

        &.hide {
          display: none;
        }
      }
    }
  }

  .favorite-list {
    height: 310px;
    margin-left: 15px;
    overflow: auto;
    padding-top: 10px;

    .favorite-title {
      font-weight: bold;
      font-size: 14px;
    }

    .favorite-item {
      display: flex;
      align-items: center;
      margin: 15px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-right: 10px;
      }

      .favorite-details {
        display: flex;
        flex-direction: column;
        font-size: 12px;

        .favorite-name {
          font-weight: bold;
          margin-bottom: 2px;
        }

        .favorite-address {
          color: #999999;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: auto;
    width: -webkit-fill-available;
    border-top: 1px solid #e1e1e1;
    padding: 10px;
    background: white;

    .action {
      display: grid;
      height: 50px;
      width: 50px;
      border-radius: 2px;
      background: #e1e1e1;
      cursor: pointer;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999999;
    }
  }
}
