<section class="ride-menu">
  <div class="user-type">
    <div class="profile">
      <img class="profile-img" src="https://via.placeholder.com/100" alt="" />
      <span class="profile-text">Para mi</span>
    </div>

    <div class="profile">
      <img class="profile-img" src="https://via.placeholder.com/100" alt="" />
      <span class="profile-text">Colega</span>
    </div>

    <div class="profile">
      <img class="profile-img" src="https://via.placeholder.com/100" alt="" />
      <span class="profile-text">Invitado</span>
    </div>
  </div>

  <div class="steps-ride">
    <div class="step" routerLink="/ride/origin">
      <div class="step-number active">1</div>
      <span class="step-label">Origen</span>
    </div>
    <div class="step" routerLink="/ride/destination">
      <div class="step-number">2</div>
      <!--      <span class="step-label">Destino</span>-->
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <!--      <span class="step-label">Origen</span>-->
    </div>
    <div class="step">
      <div class="step-number">4</div>
      <!--      <span class="step-label">Origen</span>-->
    </div>
    <div class="step">
      <div class="step-number">5</div>
      <!--      <span class="step-label">Origen</span>-->
    </div>
    <div class="step">
      <div class="step-number">6</div>
      <!--      <span class="step-label">Origen</span>-->
    </div>
  </div>

  <div class="address">
    <router-outlet></router-outlet>
  </div>

  <div class="favorite-list">
    <span class="favorite-title">Favoritos</span>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
    <div class="favorite-item">
      <img src="https://via.placeholder.com/100" alt="" class="favorite-icon" />
      <div class="favorite-details">
        <span class="favorite-name">Ivesur</span>
        <span class="favorite-address">Cra. 56</span>
      </div>
    </div>
  </div>

  <footer>
    <div class="action">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="action">
      <i class="fas fa-arrow-right"></i>
    </div>
  </footer>
</section>
