.main {
  display: flex;
  height: 100%;
  position: relative;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  app-sidebar {
    border: 1px solid #e1e1e1;
    width: 320px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  app-maps {
    width: calc(100% - 320px);
    height: 100%;
  }

  app-ride {
    position: absolute;
    top: 30px;
    left: 340px;
    width: 400px;
    height: 638px;
    box-shadow: 0 0 1px 1px #999999;
    background: linear-gradient(to bottom, #33374c 0%, #33374c 8.5%, white 8.5%, white 100%);
    z-index: 999;

    @media only screen and (max-width: 768px) {
      position: relative;
      //width: 100%;
    }
  }
}
